.container {
  margin-top: 20px;
  background-color: grey;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.form-control {
  width: 200px;
}

.autocomplete-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete-list li {
  cursor: pointer;
}

.btn {
  margin-left: 5px;
}
